<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Manufacturer Dashboard</h1>
<div class="form-modal">

    <div id="man-form">
        <h3>Add New Item</h3>
        <form id="manform">
            <table>
                        <tr>
                            <td><input id="itemID" type="text" placeholder="Enter Item ID"/></td>
                            <td><input id="itemDesc" type="text" placeholder="Item Description"/></td>
                        </tr>
                        <tr>
                            <td><input id="itemUM" type="text" placeholder="Unit of Measure"/></td>
                            <td><input id="itemPrice" type="text" placeholder="Unit Price"/></td>
                        
                        </tr>
            </table>
            <button type="button" onclick="ManWriteData(event)" class="btn login">Add New Item</button>
            
        </form>

    </div>

    <div class="form-modal">

    <div id="man-form">
        <h3>Query Item</h3>
        <form id="manform">
            <table>
                    
                            <input id="QueryItem" type="text" placeholder="Enter Item Number"/>
                       
            </table>
            <button type="button" onclick="ManQueryData(event)" class="btn login">Query Item</button>
            
        </form>

    </div>


    <br>
   
    <a class="nav-link" id="list" href="/table"><h3>Item Inventory Details</h3> </a>

</div>



<script src='/javascripts/main.js'></script>