<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Vehicle Details</h1>

<a class="nav-link" id="home" href="/">Home </a>

<br><br>
    <table id="vehicleDetails">
      <tr>
        <th>Vin Number</th>
        <th>Make</th>
        <th>Model</th>
        <th>Date of Manufacture</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Number Plate</th>
      </tr>

      {{!-- {{#listings}}
      <tr class="">
        <td><button type="button" onclick="batchQuery(event)" class="btn login">Query batch</button></td>
        <td>{{make}}</td>
        <td>{{model}}</td>
        <td>{{dom}}</td>
        <td>{{status}}</td>
        <td>{{owner}}</td>
        <td>{{numberPlate}}</td>
      </tr>
      {{/listings}} --}}
    </table>
    <button type="button" value="C1" onclick="QData(this.value)" class="btn login">C1</button> <br><br><br>
    <button type="button" value="C2" onclick="QData(this.value)" class="btn login">C2</button> <br><br><br>
    <button type="button" value="C3" onclick="QData(this.value)" class="btn login">C3</button> <br><br><br>
    <button type="button" value="C4" onclick="QData(this.value)" class="btn login">C4</button> <br><br><br>
    <button type="button" value="C5" onclick="QData(this.value)" class="btn login">C5</button> <br><br><br>

    <script src='/javascripts/main.js'></script>
